* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  color: aliceblue;
  font-family: Montserrat , sans-serif;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  font-size: 2em;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.solar-system, .missions {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 30px auto;
  width: 95%;
}

.title {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid aliceblue;
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
  text-align: center;
  width: 60%;
}

.title h2 {
  font-size: 2rem;
}

.cards {
  display: flex;
  justify-content: center;
}

img {
  max-width: 90%;
  transition: 0.5s;
}

img:hover {
  max-width: 100%;
}

.solar-system .cards {
  align-items: center;
  height: 20vh;
}

.solar-system .cards div {
  text-align: center;
}

.missions .cards {
  display: flex;
  flex-flow: wrap;
}

.missions .cards div {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid aliceblue;
  border-radius: 10px;
  margin: 15px;
  padding: 20px;
  width: 350px;
}

.missions .cards div p:nth-child( 1 ) {
  border-bottom: 1px solid aliceblue;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

@media screen and ( max-width : 813px ) {

  img {
    max-width: 100%;
  }

  .solar-system .cards {
    flex-wrap: wrap;
    height: 100%;
  }

  .missions .cards div {
    width: 90%;
  }
}
